<html>
    <head>
        <script src="/js/bs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bs2.css">
    </head>
    <body>
        <center>
            <form method="post" action="page2">
                <button class=" button">Next Page</button>
            </form>


        <center>
    </body>

</html>