<html>
    <head>
        <script src="/js/bs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bs2.css">
    </head>
    <body>
        <center>
            <font color="red"><h2>Pick your board size</h2></font>
            <form method="post" action="page2">
                <button class=" button">Next Page</button>
                <div class="player1" id="player1">
                    <font color="red"><h2>Easy</h2></font>
                    <input type="radio" name="gridsize" value="12" required>
                    <font color="red"><h2>Medium</h2></font>
                    <input type="radio" name="gridsize" value="24" required>
                    <font color="red"><h2>Hard</h2></font>
                    <input type ="radio" name="gridsize" value="36" required>
                </div>






            </form>
            


        <center>
    </body>

</html>