<html>
    <head>
        <script src="/js/bs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bs2.css">
    </head>
    <body>
        <center>
            <font color="red"><h2>Pick your board size</h2></font>
            <form method="post" action="page2">
                <button class=" button">Next Page</button>
                <div class="player1" id="player1">
                    <font color="red"><h2>Easy</h2></font>
                    <input type="radio" name="gridsize" value="12" required>
                    <font color="red"><h2>Medium</h2></font>
                    <input type="radio" name="gridsize" value="24" required>
                    <font color="red"><h2>Hard</h2></font>
                    <input type ="radio" name="gridsize" value="36" required>
                </div>






            </form>
            


        <center>
    </body>
    <style type="text/css">* {cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1165.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1165.png), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2018/06/08/hell-yeah-pointer-8.html" target="_blank" title="Hell Yeah Pointer 8"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Hell Yeah Pointer 8" style="position:absolute; top: 0px; right: 0px;" /></a>
</html>