<html>
    <head>
        <script src="/js/bs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bs.css">
    </head>
    <body>
        <form method="post" action="page3">

        </form>


    </body> 

</html>   
