body {
    background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(/images/nicer4.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
    overflow:hidden;
}


.button {
    display: inline-block;
    padding: 13px 7px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: solid;
    color: #e91e1ee3;
    background-color: #8BC34A;
    border: #4CAF50;
    border-radius: 12px;
  
}

.button:active {
    background-color: #8BC34A;
    
    transform: translateY(3px);
}
#mytable{
    color: aqua;
    float: left;
    border: none;
    margin: -1px;
    /* overflow: hidden; */
    position: absolute;
    zoom: 83%;
    top: 0%;
    left: -2px;
}

#enemytable{
    float: right;
    color: ivory;
    border: none;
    margin-top: -11px;
    margin-right: -10px;
    overflow: hidden;
    zoom: 83%;
}
.coordinates{
    width: 183px;
    height: 100px;
    border: 1px solid rgba(0, 0, 255, 0); 
}
input{
  width:82%;  
}

.stopwatch{
    padding-left: 45%;
    padding-top: 24%;
}